.container 
{
	width: 90%;
	margin-left: auto;
	margin-right: auto;
    background-color: #FFFFFF;
    
}
.header
{
    background-color: rgb(127, 208, 255);
    display: block;
    width: 100%;
    height: 50px;
    border-bottom: 1px solid #353635;
}
.btn-primary
{
    color: #fff;
    background-color: #8e9194;
    border-color: #3e3f41;
    width: 100%;
    display: "inline-block" 
}

.btn-primary-main
{
    color: #fff;
    background-color: #1ed15a;
    border-color: #3e3f41;
    width: 100%;
    display: "inline-block" 
}

.btn-secondary
{
    color: #fff;
    background-color: #65b37f;
    border-color: #3e3f41;
    width: 100%;
    display: "inline-block"
}
.menu
{
    background-color: rgb(127, 208, 255);
    float: left;
    width: 20%;
    height: 500px;
}
.content
{
    background-color: rgb(127, 208, 255);
    float: left;
    width: 60%;
    height: 500px;
}
.links
{
    background-color: rgb(127, 208, 255);
    float: left;
    width: 20%;
    height: 500px;
}
